aiohttp
aria2p
einops
GitPython
intel_extension_for_pytorch
kornia
matrix_client
nltk
numpy
ollama
openai
opencv_python
opencv_python_headless
Pillow
psutil
pygit2
PyGithub
pytest
PyYAML
Requests
rich
safetensors
scipy
sentencepiece
skimage
spandrel
spandrel_extra_arches
supervision
torch
torch_directml
torchaudio
torchsde
torchvision
tqdm
transformers
typer
typing_extensions
ultralytics
websocket_client
xformers

